/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');
/*google fonts*/
/*font-family: 'Open Sans', sans-serif;*/
*{ 
margin:0px;
padding:0px;
font-family: 'Open Sans', sans-serif;  
}
#popup_content{
display:none;
}
.content-container a.fancybox_btn {
    background: #272727;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 5px 25px;
    display: inline-block;
    border-bottom: 2px solid #000;
    border-radius: 2px;
}
table.expanded {
    width: 100%;
    background: #ccc;
    padding: 15px;
    text-align: left;
}
table.expanded tbody tr td {
    font-size: 14px;
    padding: 5px;
}
table.expanded th span {
    padding: 5px;
}
table.expanded tbody tr:nth-child(odd) {
    background: #c3c3c3;
}

.background_overlay {
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
div#popup_content {
    top: 0;
    /*position: absolute;*/
}

.slick-slide {
    color: #fff;
}
.slick-slide label, .slick-slide p {
    width: 100%;
    float: left;
    margin: 15px 0 5px;
}
.slick-slide select, .slick-slide input, .slick-slide textarea {
    width: 80%;
    float: left;
    height: 35px;
    padding: 0 5px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.slick-slide textarea {
    height: 80px;
}
#popup_content > a {
    position: absolute;
    color: #fff;
    z-index: 9999;
    right: 30px;
    text-decoration: none;
}
.slick-initialized .slick-slide {
    text-align: center;
}
.slick-slide .item_inner {
    width: 650px;
    margin: 0 auto;
    background: rgba(0,0,0,.5);
    float: none;
    padding: 15px;
    display: inline-block;
    text-align: left;
}
#popup_content .slick-next:before {
    content: "\f138";
    font: normal normal normal 40px/1 FontAwesome;
    color: #fff;
} 
.slick-next {
    right: 45px !important;
}
.slick-prev {
    left: 45px !important;
}
#popup_content .slick-prev:before {
    content: "\f137";
    font: normal normal normal 40px/1 FontAwesome;
    color: #fff;
}
.slick-slide .item_inner a.Create_order {
    color: #fff;
    text-decoration: none;
}
.slick-prev, .slick-next {
    z-index: 99;
}
.fhalf , .shalf {width:50%;float:left;display:inline-block;}
input.content_type {
    width: 15px;
    height: auto;
}
.slick-slide label p {
    width: auto;
    margin: 0;
    float: right;
}
.c_type span {
    float: left;
    margin-right: 10px;
}
.c_type {
    float: left;
}
.c_type span input {
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.slick-slide .item_inner.last a {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    padding: 5px 10px;
}
.slick-slide .item_inner.last {
    text-align: center;
    height: 300px;
    right: inherit;
    vertical-align: middle;
    display: table;
}
